.categories{
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.categories-change__change-button {
    display: block;
    height: 40px;
    padding: 0 15px;
    border: 2px solid #339900;
    border-radius: 4px;
    background-color: #66FF66;
    text-align: left;
    font-size: 16px;
}

.categories-search {
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
    padding: 0 10px;
    border: 2px solid  #000;
    border-radius: 4px;
    background-color: #fff;
}

.categories-search__icon {
    display: block;
    height: 20px;
    // padding-right: 10px;
    // border-right: 1px solid #000;
}

.categories-search__field {
    margin: 0 10px;
    max-width: 120px;
    outline: none;
}

.categories-main {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 20px;
    // grid-template-rows: 1fr;
}