// .products-list {

// }

.products {
    display: flex;
    justify-content: space-between;
    padding: 40px 0;
}

.product-about__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    min-width: 213px;
    padding-top: 20px;
    border: 1px solid black;
    border-radius: 5px;
    overflow: hidden;
    display: block;
    -webkit-box-shadow: -3px 0px 35px 4px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: -3px 0px 55px 14px rgba(34, 60, 80, 0.2);
    box-shadow: -3px 0px 55px 14px rgba(34, 60, 80, 0.2);
    cursor: pointer;
}

.product-about__description {
    text-align: center;
    font-family: 'TildaSans' sans-serif;
    margin: 5px 20px;
}
