@import "./Components/Category/Category.scss";
@import "./Components/Shop/Shop.scss";
@import "./Components/ShopsList/ShopsList.scss";

* { 
    padding: 0px;
    margin: 0px;
    border: 0px;
    box-sizing: border-box;
  }

  .container {
    width: 100%;
    max-width: 1440px;
    margin: 0 auto;
  }
  
  .shadowBack {
    position: fixed;
    z-index: 2;
    background-color: #000;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    opacity: 0.85;
    overflow: hidden;
  }
  
  .inactive {
    display: none;
    visibility: hidden; 
  }

